@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Pacifico&family=Ubuntu&family=Vibur&display=swap");

/* font-family: 'Bruno Ace SC', cursive;
font-family: 'Pacifico', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s;
}

:root {
  /* <==== Colours ====> */

  --main-color: #ff4500;
  --secondary-color: #eabea9;
  --body-color: #fff;
  --body-secondary-color-: #f0f8ff;
  --title-color: #000000;
  --text-color: #808080;
  --text-secondary-color: #707070;
}

body.dark {
  /* <==== Colours ====> */

  --main-color: #f87537;
  --secondary-color: #eabea9;
  --body-color: #18191a;
  --body-secondary-color-: #242526;
  --title-color: #ffffff;
  --text-color: #808080;
  --text-secondary-color: #707070;
}
/* <==== Navbar ====> */

nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--body-secondary-color-);
}

.toggle-icons {
  display: none;
}

.navbar {
  width: 80vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0px auto;
}

.navbar .nav-logo {
  max-width: 100px;
  color: var(--title-color);
  font-size: 23px;
  font-family: "Vibur", cursive;
}

.navbar .nav-logo span {
  color: var(--main-color);
}

.nav-links-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-links-mode ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.nav-links-mode ul li a {
  color: var(--text-color);
  font-size: 15px;
}

.nav-links-mode ul li a:hover {
  color: var(--main-color);
}

.nav-links-mode ul li a i {
  display: none;
}

.nav-links-mode .mode {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mode .mode-text {
  color: var(--title-color);
  font-size: 20px;
  display: none;
}

.nav-links-mode .mode-switch {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 70px;
  height: 35px;
  padding: 2px;
  background-color: var(--title-color);
  border-radius: 20px;
  transition: backgrount-color 1s;
}

.nav-links-mode .dark-mode {
  justify-content: end;
}

.mode-switch .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--body-color);
  color: var(--title-color);
}

.switch .moon {
  display: none;
}

body.dark .switch .sun {
  display: none;
}

body.dark .switch .moon {
  display: block;
}

/* <====Home ====> */

.home {
  background-color: var(--body-secondary-color-);
  height: 100vh;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

.home-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.home-details h2,
.about-details h2,
.portfolio-wrapper h2 {
  color: var(--main-color);
}

.home-details h1 {
  margin-top: 10px;
  color: var(--title-color);
  font-size: 70px;
}

.home-details h3 {
  margin-top: 15px;
  color: #1cbe59;
  font-size: 20px;
  font-weight: 200;
}

.home-details p {
  margin-top: 20px;
  color: var(--text-color);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--main-color);
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 50px;
  color: var(--body-color);
  font-size: 14px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: var(--body-secondary-color-);
  outline: 2px solid var(--main-color);
  color: var(--main-color);
}

.profile-picture {
  width: 450px;
  fill: var(--main-color);
}

.home-svg-img {
  width: 170px;
}

/* <===== Skills =====> */

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;
  gap: 30px;
  padding: 100px 20px;
  margin: 0 auto;
}

.skills-wrapper .skills-header {
  font-size: 25px;
  font-weight: 500;
  color: var(--main-color);
}

.skills-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
}

.skills-title {
  font-size: 35px;
  font-weight: 800;
  color: var(--title-color);
}

.skills-items {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.skill-card {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  width: 100%;
  height: 150px;
  outline: solid 2px var(--text-color);
  border-radius: 10px;
}

.skill-card span {
  color: var(--text-color);
  font-weight: 500;
}

.skill-card .skill-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-logo img {
  width: 40px;
}

/* <===== About =====> */

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 100px 40px;
  margin: 0 auto;
}

.about-img {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 100%;
}

.about-details {
  display: grid;
  align-items: center;
  justify-content: center;
}

.about-details h1 {
  font-size: 40px;
  margin-top: 20px;
  color: var(--title-color);
}

.about-details p {
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  margin-top: 30px;
}

.about-details .about-links {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.about-links .twitter,
.about-links .linkedin {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

.twitter {
  background-color: #03a9f4;
}

.linkedin {
  background-color: #007ab9;
}

.about .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 150px;
}

/* <===== Portfolio =====> */

.portfolio {
  background-color: var(--body-secondary-color--color);
}

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 30px;
  padding: 100px 20px;
  margin: 0 auto;
}

.portfolio-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.portfolio-details h1 {
  font-size: 30px;
  color: var(--title-color);
  text-align: center;
}

.portfolio-details .portfolio-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  outline: 3px solid var(--text-secondary-color);
  padding: 20px 40px;
  border-radius: 20px;
  background-color: var(--body-color);
}

.portfolio-cards .project-img {
  max-width: 400px;
  transition: all 1s;
}

.project-img:hover {
  scale: 1.1;
}

.project-img img {
  outline: 2px solid var(--text-secondary-color);
  border-radius: 20px;
  width: 100%;
}

.portfolio-cards .project-details {
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.project-details h3 {
  color: #1cbe59;
}

.project-details p {
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
}

.project-details .project-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-details .project-links span {
  font-size: 30px;
  color: var(--main-color);
}

.project-details .project-links a {
  color: var(--main-color);
}

footer {
  background-color: #242526;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 100px 20px;
  margin: 0 auto;
}

.footer-wrapper p {
  color: var(--text-color);
  font-size: 12px;
}

.footer-wrapper span {
  color: var(--main-color);
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-links a {
  font-size: 20px;
  color: #fff;
}

/* <=============== Responsive ===============> */

@media only screen and (max-width: 1040px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar .toggle-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
    color: var(--main-color);
    width: 30px;
    height: 30px;
  }

  .hidden {
    display: none;
  }

  .toggle-icons i {
    font-size: 30px;
  }

  .navbar .nav-links-mode {
    width: 100vw;
    height: 92vh;
    overflow: hidden;
    position: absolute;
    top: 8vh;
    left: 0;
    flex-direction: column;
    gap: 100px;
    background-color: var(--body-secondary-color-);
    transition: all 1s;
    z-index: 10;
  }

  .nav-links-mode.close {
    left: -130%;
  }

  .navbar .nav-links-mode ul {
    flex-direction: column;
  }

  .mode .mode-text {
    display: block;
  }

  /* <===== Common =====> */

  .home-wrapper,
  .skills-wrapper,
  .about-wrapper,
  .portfolio-wrapper {
    width: 100%;
  }

  /* <==== Home ====> */

  .home-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .profile-picture {
    order: -1;
    width: 250px;
  }

  .home-details {
    align-items: center;
    gap: 0;
  }

  .home-details h1 {
    font-size: 40px;
    text-align: center;
  }

  .home-details p {
    text-align: center;
  }

  /* <=== Skills ===> */

  .skills-items {
    grid-template-columns: 1fr;
  }

  /* <==== About ====> */

  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .about-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-details h1 {
    text-align: center;
  }

  .about-details p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    margin-top: 30px;
  }

  /* <=== Portfolio ===> */

  .portfolio-details .portfolio-cards {
    flex-direction: column;
  }

  .portfolio-cards .project-img {
    order: -1;
  }

  .project-details .project-links a {
    font-size: 15px;
  }

  /* <=== Footer ===> */

  .footer-wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer-wrapper p {
    font-size: 10px;
  }
}
